body {
    background-color: #cdd1de;
}

h2.lb {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ff6b6b;
    background-color: #413620;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.book-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
}

/* Individual Book Items */
.book-item {
    background: linear-gradient(135deg, #fff0f5, #f0fff0);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(151, 83, 23, 0.623);
    width: 20%;
    margin-bottom: 30px;
    transition: box-shadow 0.4s ease, transform 0.3s ease;
}

.book-item:hover {
    box-shadow: 0px 16px 40px rgba(255, 119, 0, 0.658);
    transform: translateY(-7px);
}

/* Book Cover Image */
.book-item img {
    width: 95%;
    height: 60%;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0px 4px 12px rgba(255, 160, 122, 0.2);
}

.book-item:hover img {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(255, 160, 122, 0.3);
}

/* Book Title */
.book-item h3 {
    font-size: 1.6em;
    margin: 15px 0;
    color: #ff6f61;
    font-weight: bold;
    background: linear-gradient(90deg, #9c6615, #9f7833);
    -webkit-background-clip: text;
    color: transparent;
}

/* Price Styling */
.book-item .price {
    font-size: 1.4em;
    font-weight: bold;
    color: #ab4b4b;
    margin: 10px 0;
}

/* Buttons */
.book-item button {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Detail Button */
.book-item .detail-btn {
    background: linear-gradient(45deg, #413620, #ffd791);
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.book-item .detail-btn:hover {
    background-color: #3b82f6;
    transform: translateY(-3px);
}

/* Buy Button */
.book-item .buy-btn {
    background: linear-gradient(45deg, #413620, #ffd791);
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.book-item .buy-btn:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

/* Responsive Styling */
@media (max-width: 1200px) {
    .book-item {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .book-item {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .book-item {
        width: 100%;
    }
}