<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non-fiction Ebooks</title>
    <link rel="stylesheet" href="/static/css/Non-fiction.css">
</head>

<body>
    <div class="non-fiction-books">
        <h2 class="nf">Non-Fiction Books</h2>

        <div class="book-list">
            <div class="book-item">
                <img src="/static/images/becoming adapted.jpg" alt="Becoming">
                <h3>Becoming</h3>
                <p><b>By Michelle Obama</b></p>
                <p class="price">₹ 599.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/Educated.jpg" alt="Educated">
                <h3>Educated</h3>
                <p><b>By Tara Westover</b></p>
                <p class="price">₹ 499.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/its trevoe noah.jpg" alt="Born a Crime">
                <h3>Born a Crime</h3>
                <p><b>By Trevor Noah</b></p>
                <p class="price">₹ 399.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/The glass castle.jpg" alt="The Glass Castle">
                <h3>The Glass Castle</h3>
                <p><b>By Jeannette Walls</b></p>
                <p class="price">₹ 449.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/hillbilly elegy.jpg" alt="Hillbilly Elegy">
                <h3>Hillbilly Elegy</h3>
                <p><b>By J.D. Vance</b></p>
                <p class="price">₹ 399.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/The Art Of Happiness.jpg" alt="The Art of Happiness">
                <h3>The Art of Happiness</h3>
                <p><b>By Dalai Lama</b></p>
                <p class="price">₹ 349.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/man's searchu for meaning.jpg"
                    alt="Man's Search for Meaning">
                <h3>Man's Search for Meaning</h3>
                <p><b>By Viktor E. Frankl</b></p>
                <p class="price">₹ 299.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/Outliners.jpg" alt="Outliers">
                <h3>Outliers</h3>
                <p><b>By Malcolm Gladwell</b></p>
                <p class="price">₹ 499.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>

            <div class="book-item">
                <img src="/static/images/the tipping point.jpg" alt="The Tipping Point">
                <h3>The Tipping Point</h3>
                <p><b>By Malcolm Gladwell</b></p>
                <p class="price">₹ 399.00</p>
                <button class="detail-btn">DETAIL</button>
                <button class="buy-btn">BUY</button>
            </div>
        </div>
    </div>
</body>

</html>